<div class="container">
    <div >
      <div class="d-flex page__box p-3 mt-1">Dashboard External Fitness </div>
    </div>
      <div class="page__content shadow p-3 position-relative">
        <div class="full-page-container">
          <iframe title="staffMedical" frameborder="0" src="https://app.powerbi.com/reportEmbed?reportId=9bbc9d36-d920-4c09-a3bd-6a281374c2e3&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&filterPaneEnabled=false&navContentPaneEnabled=false"  allowFullScreen="true" filterPaneEnabled="false" navContentPaneEnabled="false"></iframe>      </div>
      </div>
    </div>