<div class="container">
    <div >
      <div class="d-flex page__box p-3 mt-1">External Coach</div>
    </div>
      <div class="page__content shadow p-3 position-relative">
        <div class="full-page-container">
          <iframe title="staffMedical" frameborder="0" src="https://app.powerbi.com/reportEmbed?reportId=45a11fc3-ad2c-44a4-ab11-41dcd438eb9a&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&filterPaneEnabled=false&navContentPaneEnabled=false"  allowFullScreen="true" filterPaneEnabled="false" navContentPaneEnabled="false"></iframe>      </div>
      </div>
    </div>
  
   



