
<div class="container">
  <div >
    <div class="d-flex page__box p-3 mt-1"><div>Dashboard of Director</div></div>
  </div>
    <div class="page__content shadow p-3 position-relative">
      <div class="full-page-container">
        <p style="margin-left:0% ;">Predict the value of players for the next season </p>
               
        <!-- prediction.component.html -->
        <div class="selectPredRank" style="left: 0%;top:2%"> 
          <select (change)="predictValue($event)" id="pred">
            <option value="" disabled selected>Choisir un joueur</option>
            <option *ngFor="let player of players" [value]="player">{{ player }}</option>
            
         
          </select>
        </div>
        <div>
          <p *ngIf="predictedValue" style="margin-left: 25%; margin-top: -30px;"> The value of this player{{ nomJoueur }} is {{ predictedValue }} M€</p>
         </div><br>
        <br/><br/>
        
         <div>
          Analyse the sentiment of supporter <button (click)="fetchSentiments()" [disabled]="loading" class="button-29" role="button">Analyse</button>
        </div> 
        
        <!-- <div *ngIf="loading" class="loading">
          Chargement en cours...
        </div> -->
        <div *ngIf="results" class="results" style="max-height: 350px; overflow-y: auto;">
          <table  >
            <thead>
              <tr>
                <th>Commentaire</th>
                <th>Sentiment</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let result of results">
                <tr *ngIf="result.polarite >0 ">
                  <td>{{ result.commentaire }}</td>
                  <td>{{ result.returne }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
    </div>
  </div>






      
      
        

      
   