<div class="container">
    <div >
      <div class="d-flex page__box p-3 mt-1">Value of Top 10 Players 21-24</div>
    </div>
      <div class="page__content shadow p-3 position-relative">
        <div class="full-page-container">
          <iframe title="staffMedical" frameborder="0" src="https://app.powerbi.com/reportEmbed?reportId=1db3c24b-f848-4512-8021-447895b288df&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&filterPaneEnabled=false&navContentPaneEnabled=false"  allowFullScreen="true" filterPaneEnabled="false" navContentPaneEnabled="false"></iframe>      </div>
      </div>
    </div>
  
   