/* Transforming SCSS to CSS */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
height: 100%;  
margin-left: 200px;
}

/* .page styles */
.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
  }
  
  /* .page__box styles */
  /* .page__box {
    min-height: 120px;
    width: 1500px;
    background: #1e293b;
    margin: 0 -7rem;
    font-size: 36px;
    color: #f1f5f9;
  } */

  .page__box {
    min-height: 120px;
    width: 1500px;
    
    background-image: url('../../../assets/bgApp.jpg');
    background-size: cover; /* Ajuste la taille de l'image pour remplir la boîte */
    background-position: center; /* Centre l'image */
    /* margin-left: -70px; */
    font-size: 36px;
    color: #f1f5f9;
    /* Ajoute un effet de flou à l'image de fond */
    filter: blur(2.5px);
}
  
  /* .page__content styles */
  .page__content {
    

    min-height: calc(115vh - 200px);
    border-radius: 10px;
    margin-top: -3.5rem;
    background: white;
    font-size: 2rem;
    width: 1500px;
  }
  
  /* .page__content-data styles */
  .page__content-data {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  /* ***************
   */
   .full-page-container {
    position: absolute;
    top: 10px; /* Adjust the top position to account for the navbar */
    left: 20px; /* Adjust the left position to account for the sidebar */
    width: calc(110% - 150px); /* Adjust the width to account for the sidebar */
    height: calc(94vh - 50px); /* Adjust the height to account for the navbar */
  }
  
  .full-page-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
/* Styles pour l'effet de superposition */
.overlay {
  display: none; /* Par défaut, l'effet de superposition est caché */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  z-index: 9999; /* Assure que l'effet de superposition est au-dessus du reste du contenu */
  justify-content: center;
  align-items: center;
}

.overlay.show {
  display: flex; /* Affiche l'effet de superposition lorsque la classe "show" est présente */
}

.overlay img {
  max-width: 80%; /* Ajustez la taille de l'image au besoin */
  max-height: 80%;
}