
<div class="container">
  <div >
    <div class="d-flex page__box p-3 mt-1"><div>Dashboard of Coach</div></div>
  </div>
    <div class="page__content shadow p-3 position-relative">
      <div class="full-page-container">
        <p style="margin-left:10% ;">Choose a team to predict its rank for the next year </p>
               
        <!-- prediction.component.html -->
        <div class="selectPredRank" style="left: 20%;top:2%"> 
        <select (change)="predict($event)">
          <option value="" disabled selected>Choose team</option>
          <option *ngFor="let player of players" [value]="player">{{ player }}</option>
        </select>
        </div>
        <br/><br/>
        
        <p *ngIf="predictedRank" style="margin-left: 20%;">Predicted Rank: {{ predictedRank }}</p>
        <br/><br/>


        <p style="margin-left:10%;margin-top:8%">Predict the formation for the next match </p>
        <!-- ml-directeur.component.html -->
        <div class="button-29" style="margin-left: 20%;"><br/>
          <button class="button-29" role="button" (click)="predictFormation()">Predict Formation</button>
        
        </div><br/>
        <div >
          <br>
        <p style="margin-left:20%;"  *ngIf="formationPrediction"> Formation: {{ formationPrediction }} </p>
        </div>
    </div>
  </div>